/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --transparent-border-color: #FF007066;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --text-color: #F1B2CE;
  --menu-color: var(--accent-color);
  --border-color: var(--accent-color);
  --title-shadow-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --transparent-border-color: #FF007066;
    --title-color: #DB00FF;
    --title-decor-color: #000028;
    --text-color: #F1B2CE;
    --menu-color: var(--accent-color);
    --border-color: var(--accent-color);
    --title-shadow-color: var(--accent-color);
    --section-title-color: var(--accent-color);
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}