/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --display-rec: block;
  --accent-color: #FF0070;
  --transparent-border-color: #FF007066;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --text-color: #F1B2CE;
  --menu-color: var(--accent-color);
  --border-color: var(--accent-color);
  --title-shadow-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --background:url(../images/cover-image-dark.png);
}